block vars
  - var siteUrl = 'https://n2clinic-ginza.com/'//末尾に「/」は必須'
  - var siteName = 'N2 CLINIC 銀座本院'
  - var siteTitle = '再生医療クリニック｜N2 CLINIC 銀座本院'//TOPページタイトル
  - var siteDescription = 'N2クリニック銀座本院は、幹細胞療法や免疫細胞療法など再生医療に特化した美容医療クリニック。先端技術で若々しさと健康を支えます。'
  - var siteKeywords = '幹細胞療法,幹細胞,銀座,幹細胞治療,免疫細胞療法,再生医療'
  - var copyright = '2025 N2CELLACT-ALL RIGHTS RESERVED '
  //- サイトメタ情報と差分を出す場合は任意で変更してください
  - var siteOgUrl = siteUrl
  - var siteOgTitle = siteTitle
  - var siteOgDescription = siteDescription
  - var siteOgImage = './assets/common/ogp.png'

  - var siteLogo = siteUrl+'assets/common/siteLogo.svg'
  - var email = ''
  - var telephone = '03-3289-0202'
  - var faxNumber = '03-3289-0022'
  - var  postalCode= '104-0061'
  - var addressRegion = '東京都'
  - var addressLocality = '中央区銀座'
  - var streetAddress = '6-6-5 HULIC & New GINZA NAMIKI6 11F'

  //- 構造化データに反映されるので間違えなきよう
  - var facebookUrl = ''
  - var twitterUrl = ''
  - var instagramUrl = ''
  - var lineUrl = ''
  - var youtubeUrl = ''

//- - var siteState = 'dev'
- var imgPath = 'assets/img/'
- var cssPath = 'assets/css/'
- var jsPath = 'assets/js/'
- var extention = '.html'//phpように変換する場合は「/」へ
