.c-lightbox-overlay {
  position: fixed;
  // z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;

  z-index: 1999;
  will-change: opacity;
  backdrop-filter: blur(30px);

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  .c-lightbox-inner {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      animation: anim-zoomIn var(--anim-speed, 0.4s) var(--anim-easing, cubic-bezier(0.4, 0, 0.2, 1)) forwards;
    }
    .c-lightbox-close {
      position: absolute;
      aspect-ratio: $aspect-square;
      top: -1em;
      right: 0em;
      font-size: 32px;
      line-height: 0;
      color: white;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
