/* --------------------------------------------------
フォームの入力画面
-------------------------------------------------- */

/* --------------------------------------------------
フォームの確認画面
-------------------------------------------------- */

.p-confirm-list {
  display: grid;
  row-gap: gt(16, 32);
  margin-bottom: gt(32, 64);
  background: white;
  padding: gt(16, 32);

  dt {
    font-weight: bold;
    // margin-bottom: gt(4, 8);
    // font-size: fz(14, 16);
  }

  dd {
    padding: gt(8, 16);
    // border-radius: 6px;
    // font-size: fz(14, 16);
    line-height: 1.6;
    border-bottom: 1px solid var(--border-primary);
    &:last-of-type {
      border-bottom: none;
    }
  }
}

/* --------------------------------------------------
サンクスページ
-------------------------------------------------- */
// .p-thanks {
//   max-width: 600px;
// }
.p-thanks {
  // margin: gt(40,80) 0;
  text-align: center;
  min-height: 60vh;
  .l-page {
    &__head {
      position: relative;
      padding: gt(100, 180) 0 0;
    }
    &__title {
      font-size: $fz-h3;
      // font-weight: 700;
      // line-height: 1.5;
      letter-spacing: 0;
    }
    // &__subtitle {
    //   font-size: fz(120);
    //   font-weight: 700;
    //   letter-spacing: 0em;
    //   text-transform: capitalize;
    //   margin-bottom: gt(10);
    //   font-family: $handwrite;
    //   display: block;
    //   @include position(absolute, 50% null null 50%);
    //   color: var(--tertiary);
    //   z-index: -1;
    //   transform: translate(-50%, -40%) rotate(-8deg);
    //   transform-origin: left center;
    //   filter: drop-shadow(-0.07em 0.04em 0 #ece390);
    // }
    &__body {
      text-align: left;
    }
  }
}

.p-thanks-message {
  display: block;
  padding: 0;
  margin: 0 auto gt(40, 120);
}

.p-thanks-totop {
  display: block;
  padding: 0;
  margin: gt(40, 60) auto 0;
  text-align: center;
}
