.c-floatbox#floatbox(data-floatbox)
  button.c-floatbox__item(
    type="button",
    data-nav-toggle,
    aria-controls="contactNav",
    aria-expanded="false"
  ) お問い合わせ
  a.c-floatbox__item(href=root+"reserve"+extention) 予約