.c-pagination.u-mb-xl
  a.c-pagination__prev(href="#")
  ol.c-pagination__list
    each n in [1, 2, 3, 4, '…', 10]
      if n === 1
        li.c-pagination__item: a.is-current(href="#") #{n}
      else if n === '…'
        li.c-pagination__item: span.is-more …
      else
        li.c-pagination__item: a(href="#") #{n}
  a.c-pagination__next(href="#")