block vars
  // ----------------------------------
  // Site Base
  // ----------------------------------
  - var siteUrl = 'https://example.com' // 末尾スラッシュ不要（joinUrlで吸収）
  - var siteName = 'サイト名'
  - var siteTitle = 'サイトタイトル' // TOPページタイトル
  - var siteDescription = 'サイトの説明文を入力してください。'
  - var siteKeywords = ''
  - var copyright = '2026 SITE NAME ALL RIGHTS RESERVED.'
  - var gtmId = ''//GTM-XXXXXXX
  // ----------------------------------
  // URL Join Helper（末尾/や先頭/の事故防止）
  // ----------------------------------
  - var joinUrl = function(base, path) {
  -   if (!base) return path || '';
  -   if (!path) return base;
  -   return String(base).replace(/\/+$/, '') + '/' + String(path).replace(/^\/+/, '');
  - }

  // ----------------------------------
  // Paths (dist assets)
  // ----------------------------------
  - var imgPath = 'assets/img/'
  - var cssPath = 'assets/css/'
  - var jsPath = 'assets/js/'

  // ----------------------------------
  // OGP (default = site meta)
  // ----------------------------------
  - var siteOgUrl = siteUrl
  - var siteOgTitle = siteTitle
  - var siteOgDescription = siteDescription
  - var siteOgImage = joinUrl(siteUrl, 'assets/img/common/ogp.png')

  // ----------------------------------
  // Organization / Contact (Schema)
  // ----------------------------------
  - var siteLogo = joinUrl(siteUrl, 'assets/img/common/siteLogo.png')
  - var email = ''
  - var telephone = '' // 00-0000-0000
  - var faxNumber = ''
  - var postalCode = '' // 000-0000
  - var addressRegion = '' // 都道府県
  - var addressLocality = '' // 市区町村
  - var streetAddress = '' // 番地・建物名

  // SNS（schema sameAs）
  - var facebookUrl = ''
  - var twitterUrl = ''
  - var instagramUrl = ''
  - var lineUrl = ''
  - var youtubeUrl = ''

  // ----------------------------------
  // Cache Busting（各ページのcontrol blockで上書き推奨）
  // ----------------------------------
  - var version = (typeof version !== 'undefined' && version) ? version : '?v=20260101'

  // ----------------------------------
  // Output Ext
  // ----------------------------------
  - var extension = '.html' // php向けに変換する場合は「/」へ