.c-accordion {
  // デフォルトでは枠線や余白なし
  &__item {
    transition: background-color 0.3s;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    gap: 1.5em;
    position: relative;

    &::after {
      @include icon-symbol-base;
      content: "add";
      position: absolute;
      top: 50%;
      right: 1em;
      transform: translateY(-50%);
      font-size: 1.5em;
      margin: 0;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   right: 1em;
    //   transform: translateY(-50%);
    //   width: 1em;
    //   height: 1em;
    //   background: url("#{$imgPath}icons/plus.svg") no-repeat center/contain;
    //   flex-shrink: 0;
    //   // transition: background 0.3s;
    // }
  }

  &__content {
    overflow: hidden;
    height: 0;
    display: none;
    transition: height 0.3s ease;
  }

  // 開いたときのスタイル
  &__item.is-open {
    .c-accordion__title::after {
      content: "remove";
    }
    // .c-accordion__title::after {
    //   background: url("#{$imgPath}icons/minus.svg") no-repeat center/contain;
    // }

    .c-accordion__content {
      display: block;
    }
  }

  // オプション：リスト表示
  &.-list {
    border-top: 1px solid var(--border-primary);

    .c-accordion__item {
      border-bottom: 1px solid var(--border-primary);
    }

    .c-accordion__title {
      padding: gt(10, 20);
      padding-right: 2.5em;
    }

    .c-accordion__content {
      padding: gt(10, 20);
    }
  }
  // オプション：ドロップダウン表示
  &.-dropdown {
    .c-accordion__title {
      font-size: inherit;
      padding: 0.5em 0;
      border: none;
      border-bottom: 1px solid var(--border-primary);
      background: transparent;
      justify-content: flex-start;
      color: var(--text-primary);
      position: relative;
      padding-right: 2em;
      width: auto;
      margin: auto;

      &::after {
        @include icon-symbol-base;
        content: "expand_more";
        font-size: 1.5em;
        color: var(--text-primary);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
      }
    }

    .c-accordion__item.is-open {
      .c-accordion__title::after {
        content: "expand_less";
      }

      .c-accordion__content {
        display: block;
        padding-top: 1em;
      }
    }

    .c-accordion__content {
      display: none;
      padding-left: 0;
    }
  }
}
