/* --------------------------------------------------
固定ページのレイアウト
-------------------------------------------------- */
.l-page {
  &__head {
    // padding-inline: gt(20, 100);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-height: 50dvh;
  }
  &__title {
    font-size: $fz-page-title;
    text-align: center;
    margin-block: 0.4em 1.2em;
    order: 2;
  }
  &__sub {
    font-size: $fz-xs;
    line-height: 1.6;
    font-weight: 500;
    margin-block: 1em 0.5em;
    font-family: $sans;
    order: 1;
  }
  &__kv {
    width: min(100%, 1200px);
    order: 3;
    aspect-ratio: 16/9;
    @media ($tab <= width) {
      max-width: calc(100% - gt(20));
      margin: 0 auto;
    }
  }
  &__intro {
    padding-inline: gt(20, 100);
    font-size: $fz-base;
    line-height: 1.8;
    font-weight: 400;
    margin-block: 1em 1.5em;
    order: 3;
  }

  &__body {
    // margin: auto;
    padding: 0 0 gt(60, 100);
    // max-width: 1000px;
    // width: 100%;
    // @include mq($pc) {
    // padding: 0 gt(40, 80);
    // }
  }
}
